@model IEnumerable<SimpleApp.Models.CandidateDetails>

@{
    ViewData["Title"] = "Index";
}
<div class="msgtext">

    <h1><i class="fas fa-stroopwafel fa-spin"></i> successfully completed application, We will contact you at the earliest</h1>
</div>


