@model SimpleApp.Models.MentorDetails

@{
    ViewData["Title"] = "Create";
}




<!-- ================ start banner Area ================= -->
<section class="contact-banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 contact-banner-right">
                <h1 class="text-white">
                    Join As Mentor
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">Want to hire a fresher with unmatched technical skills?<br /> Want an affordable, efficient solution to your software problems?</p>
                <p class="mx-auto text-white  mt-20 mb-40" id="hidepara">We offer all that and more in just a click!</p>
                <div class="link-nav">
                    <span class="box">
                        <a href="/">Home </a>
                        <i class="lnr lnr-arrow-right"></i>
                        <a href="/contactus">Contact</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ End banner Area ================= -->

<div class="container">
    <h1>join As Mentor</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailID" class="control-label"></label>
                    <input asp-for="EmailID" class="form-control" type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}" />
                    <span asp-validation-for="EmailID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNo" class="control-label"></label>
                    <input asp-for="MobileNo" class="form-control" required />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Qualification" class="control-label"></label>
                    <input asp-for="Qualification" class="form-control" />
                    <span asp-validation-for="Qualification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Attendance" class="control-label"></label>
                    <input asp-for="Attendance" class="form-control" />
                    <span asp-validation-for="Attendance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Resume" class="control-label"></label>
                    <input asp-for="Resume" class="form-control" />
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>