@model SimpleApp.Models.CandidateDetails
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <!-- ================ start banner Area ================= -->
    <section class="contact-banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 contact-banner-right">
                    <h1 class="text-white">
                        Course Details
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">Want to change from a fresher to developer with unmatched technical skills?<br /> Want an affordable, efficient solution to your career problems?</p>
                    <p class="mx-auto text-white  mt-20 mb-40" id="hidepara">We offer all that and more in just a click!</p>
                    <div class="link-nav">
                        <span class="box">
                            <a href="index.html">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="contacts.html">Contact</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->


    <section class="course-details-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course-details-left">
                    <div class="main-image">
                        <img class="img-fluid" src="../img/blog-post/b1.jpg" alt="">
                    </div>
                    <div class="content-wrapper">
                        <h4 class="title">Objectives</h4>
                        <div class="content">
                            This Full Stack .NET Developer course is designed to give you an essence of front-end, middleware, and back-end ASP.NET CORE web developer technologies. You will learn to build an end-to-end application, test and deploy code, store data using SQL Server,
                            and much more.
                            <br>
                            <br> Become a full-stack developer and accelerate your career with Brainchild's comprehensive Job Guarantee Program and excel in your coding skills to get your dream job. Learn more than 30 Full Stack tools and technologies
                            and practice with multiple project labs to stand out as a industry-ready Full-Stack Developer.
                        </div>

                        <h4 class="title">Eligibility</h4>
                        <div class="content">
                            Any technical degree or equivalent such as B.tech, M.tech, degree in engineering, bachelor/master’s in computer science, and basic programming knowledge.
                            <br>
                            <br> Classes are 40 hours a week for 6 months. When you join Brainchild, you’ll receive over 900 hours of guided instruction. Becoming a developer or data scientist in such a short amount of time is hard. Successful students are
                            strong problem solvers. They're confident they can find an answer, even if it means putting in a little extra time. Classes are live and online. You must have 95% attendance in order to graduate. Every day is unique, but below
                            is an example of what a day might look like.
                        </div>

                        <h4 class="title">Course Outline</h4>
                        <div class="content">
                            <ul class="course-list">
                                <li class="justify-content-between d-flex">
                                    <p>Introduction</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of HTML</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Getting Know about HTTP</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Understanding Browser Developer Tools </p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of CSS</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Getting Familiar with CSS</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to Bootstrap</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Responsive Design</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to Javascript</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Guided Project in Javascript</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Project Wrap</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to C#</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Guided Project in C#</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Advanced C#</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of SQL</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Introduction to ASP.NET CORE</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Project in ASP.NET CORE</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Advanced ASP.NET CORE</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Basics of EF CORE</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                                <li class="justify-content-between d-flex">
                                    <p>Final Project</p>
                                    <a class="btn text-uppercase" href="#">View Details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course</p>
                                <span>FullStack .NET Developer</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Selection Criteria</p><br />
                                <span>Online Test and Interview after successful registration</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course Fee </p>
                                <span style="text-align:right;">₹22,999.00</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Second Installment </p>
                                <span style="text-align:right;">Once you are placed, you agree to pay us back the mentioned fees within the given time period</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Available Seats </p>
                                <span>18</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Schedule </p>
                                <span>9.00 am to 6.00 pm</span>
                            </a>
                        </li>
                    </ul>
                    <a href="/Join" class="btn text-uppercase enroll">Enroll the course</a>

                    <h4 class="title">Important Note:</h4>
                    <div class="content">
                        <div class="col-lg-12 right-contents">
                            <ul>
                                <li>
                                    <a class="justify-content-between d-flex" href="#">
                                        <p>Job placement is guaranteed so everyone becomes employable at Brainchild. If you’re unable to find work within six months of successfully completing the programme, you will get a full refund <span class="amount">₹22,999.00</span> of your upfront expenses.</p>
                                    </a>
                                </li>
                                </ul>
                        </div>
                    </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->

    </body>
