@model SimpleApp.Models.CandidateDetails
@{
    ViewData["Title"] = "FAQ";
}

<body>
    <!-- ================ start banner Area ================= -->
    <section class="contact-banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 contact-banner-right">
                    <h1 class="text-white">
                        Frequently Asked Questions
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">Want to hire a fresher with unmatched technical skills?<br /> Want an affordable, efficient solution to your software problems?</p>
                    <p class="mx-auto text-white  mt-20 mb-40" id="hidepara">We offer all that and more in just a click!</p>
                    <div class="link-nav">
                        <span class="box">
                            <a href="index.html">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="contacts.html">Contact</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <!-- ================ start banner Area ================= -->
    <section class="learn-banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 learn-banner-right">
                    <h1 class="text-white">
                        Freequently Asked Questions
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        Your Career in Full Stack Engineering starts here
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <!--================ Start Course Details Area =================-->
    <section class="course-details-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 course-details-left">
                    <div class="main-image">
                        <img class="img-fluid" src="../img/blog-post/b1.jpg" alt="">
                    </div>
                    <div class="content-wrapper">
                        <h4 class="title">Where is Brainchild School located?</h4>
                        <div class="content">
                            Brainchild School is located in Silicon Valley, California. However, all of our classes take place entirely online. Various cities have local meetups and gatherings. Students do not work out of our offices, and can take classes from anywhere.
                            <br>
                        </div>
                        <h4 class="title">The course hours don't work for me. Can I attend on my own time?</h4>
                        <div class="content">
                            Any technical degree or equivalent such as B.tech, M.tech, degree in engineering, bachelor/master’s in computer science, and basic programming knowledge.
                            <br>
                        </div>
                        <h4 class="title">Do I have to take the first job I'm offered?</h4>
                        <div class="content">
                            Any technical degree or equivalent such as B.tech, M.tech, degree in engineering, bachelor/master’s in computer science, and basic programming knowledge.
                            <br>
                        </div>
                        <h4 class="title">Does Brainchild School help me get a job?</h4>
                        <div class="content">
                            Any technical degree or equivalent such as B.tech, M.tech, degree in engineering, bachelor/master’s in computer science, and basic programming knowledge.
                            <br>
                        </div>
                        <h4 class="title">What computer specs do I need?</h4>
                        <div class="content">
                            Minimum Specs:- 1.6 GHz Processor 4 GB RAM 120 GB Hard Drive Web Cam Microphone<br /><br> Recommended Specs:- 2 GHz Processor 8 GB RAM 256 GB Hard Drive Web Cam Microphone
                        </div>
                        <h4 class="title">Which are Recommended operating systems (in descending order): macOS, Windows 10 Pro, Ubuntu?</h4>
                        <div class="content">
                            Other versions of Windows work but students should anticipate occasional environment issues. Chromebooks are not supported, as coursework involves installing and running software locally.
                            <br>
                        </div>
                        <h4 class="title">Do you offer loaner laptops for prospective students?</h4>
                        <div class="content">
                            No. Last year Brainchild School ran a pilot program where we offered laptops to applicants in need. The program is currently on pause while we evaluate the success and impact of the program. We currently do not have an estimated date for when the program
                            will re-launch.
                            <br>
                        </div>
                        <h4 class="title">Will I receive a degree when I graduate from Brainchild?</h4>
                        <div class="content">
                            Brainchild School is not a degree granting institution, however we do issue a certificate of completion within 60 days of graduation.
                            <br>
                        </div>
                        <h4 class="title">Is Brainchild School accredited?</h4>
                        <div class="content">
                            Brainchild School is not an accredited institution. Brainchild School is regulated at the state level as a post-secondary education institution.
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================ End Course Details Area =================-->

</body>
