@{
    ViewData["Title"] = "Home Page";
}
<head>
<link rel="stylesheet" href="/css/hirepage.css" />
</head>
    
<section class="hire-banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 hire-banner-right">
                    <h1 class="text-white">
                        Hire A Brainchild
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        To grow your business, you need the right tech team today!<br/>Let us offer you the best fit.
                    </p>
                    <div class="link-nav">
                        <span class="box">
                            <a href="index.html">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="hireabrainchild.html">Hire A Brainchild</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->


    <!-- ================- Start About Area ================= -->
    <section class="about-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-6 about-left">
                    <img class="img-fluid" src="~/img/hire-image.jpg" alt="">
                </div>
                <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
                    <h1>
                        OUR GRADUATES OFFER UNPARALLELED, HANDS-ON EXPERTISE
                    </h1>
                    <div>
                        <p>
                            Technological education should not be a luxury. BrainchildSchool.com® is a public benefit organisation devoted to increase engagement by young brilliant candidates from underrepresented groups and providing access to software engineering careers for all
                            aspiring students.
                        </p>
                        <p>
                            For every individual who wishes to learn, we offer the perfect and affordable solution. With an eclectic blend of industry experts to guide them, our students are tested on their technical prowess at every level of learning. Our goal is for every applicant
                            to have the chance to learn and thrive in software engineering. Mentors from Microsoft, Facebook, Amazon, Infosys, Google, and a number of other companies have lent their support to Brainchild.in.
                        </p>
                        <p>WE RAISE A WELL-INFORMED GENTRY OF PROFESSIONALS IN THE FOURTH PHASE OF THE INDUSTRIAL REVOLUTION.</p>
                        <p>LET THEM WORK THEIR MAGIC FOR YOUR COMPANY!</p>
                        <p>Our learners will not be working alone, even if they will be studying remotely. Our collaborative coursework prepares them for working as a web developer in a real-world setting. Their tenure warrants them to attend daily stand-up
                            meetings with their cohort, work on monthly group projects with a group of students, and develop and ship actual goods. All of this helps them realise and actualise their true potential as Software Engineers.</p>
                        <p>Additionally, students may receive one-on-one assistance from teachers and mentors anytime they require it. As a result, when you evaluate the amount of years of expertise and practical application, you will receive the greatest
                            talent available amongst freshers in this domain.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================- End About Area ================= -->

    <!-- ================ Start Registration Area ================= -->
    <section class="registration-area">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-5">
                    <div class="section-title text-left text-white">
                        <h2 class="text-white">
                            Let Them Help You Reach New Heights Of Technological Growth.
                        </h2>

                    </div>
                </div>
                <div class="offset-lg-3 col-lg-4 col-md-6">
                    <div class="course-form-section">
                        <h3 class="text-white">CONTACT US</h3>
                        <p class="text-white">Hire from the best talent pool with hands on mastery</p>
                        <form class="course-form-area contact-page-form course-form text-right" id="myForm" action="mail.html" method="post">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                            </div>
                            <div class="col-lg-12 text-center">
                                <button class="btn text-uppercase">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End Registration Area ================= -->