@{
    ViewData["Title"] = "Home Page";
}
<div class="form-Container">
    
    <form>
        <div class="col-md-12">
            <div class="form-group">
                <section>
                    <h3>What is your email address?<span>*</span></h3>
                    <p id="notes">This helps us to answer questions you might have throughout the application process.</p>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br />

                    <div class="form-group">
                        <h3>What is your cell phone number?<span>*</span></h3>
                        <p id="notes">This helps us to answer questions you might have throughout the application process.</p>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Mobile Number">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </section>
            </div>

            <!-- Start Course Selection-->
            <section>
                <div class="form-group">
                    <h3>Are you a Graduate Holder?<span>*</span></h3>
                    <p id="notes">Select an option to learn more about it.</p>
                    <div class="lambda-toggle-container grid grid-cols-2 gap-6">
                        <button class="course-form-section" value="As a web developer, you get to translate your passion into a functional website or web application to share with the world. You’ll learn in demand skills like HTML, CSS, JavaScript, React.js, Python, SQL, and Node, and put them to the test building realistic, collaborative projects for your portfolio." id="full-stack-web" type="button" onclick="htmlContent()">
                            <i class="fas fa-graduation-cap fa-5x" aria-hidden="true"></i>
                            <h6 id="course-head">Graduate</h6>
                        </button>
                        <button class="course-form-section" value="CS Web Dev" id="full-stack-web" type="button">
                            <i class="fas fa-hat-cowboy fa-5x" aria-hidden="true"></i>
                            <h6 id="course-head">Undergraduate</h6>
                        </button>
                    </div>
                </div>
            </section>
            <!--End Course Selection-->
            <!-- Start Schedule-->
            <section>
                <div class="form-group">
                    <h3>Which schedule works for you?<span>*</span></h3>
                    <p id="notes">Select an option to learn more about it.</p>
                    <div class="lambda-toggle-container grid grid-cols-2 gap-6">
                        <button class="course-form-section" value="As a data scientist, you'll utilize statistics and mathematics with the latest computational techniques to help the most innovative companies in the world scale. If you enjoy mathematics and love using data to make decisions, a career in data science could be for you." id="full-stack-web" type="button">
                            <i class="fas fa-hourglass fa-5x" aria-hidden="true"></i>
                            <h6 id="course-head">Full Time</h6>
                        </button>
                        <button class="course-form-section" value="CS Web Dev" id="full-stack-web" type="button">
                            <div><i class="fas fa-hourglass-start fa-5x" aria-hidden="true"></i></div>
                            <h6 id="course-head">Part Time</h6>
                        </button>
                    </div>
                </div>
            </section>
            <!--End Schedule-->
            <!--End Attendance-->
            <section>
                <div class="form-group">
                    <h3>Are you able to attend 95% of classes?<span>*</span></h3>
                    <p id="notes">Attending 95% of classes means you can only miss 1 day a month.</p>
                    <div class="lambda-toggle-container grid grid-cols-2 gap-6">
                        <button class="course-form-section" value="As a data scientist, you'll utilize statistics and mathematics with the latest computational techniques to help the most innovative companies in the world scale. If you enjoy mathematics and love using data to make decisions, a career in data science could be for you." id="full-stack-web" type="button">
                            <i class="far fa-check-circle fa-5x" aria-hidden="true"></i>
                            <h6 id="course-head">Yes</h6>
                        </button>
                        <button class="course-form-section" value="CS Web Dev" id="full-stack-web" type="button">
                            <div><i class="fas fa-times-circle fa-5x" aria-hidden="true"></i></div>
                            <h6 id="course-head">No</h6>
                        </button>
                    </div>
                </div>
            </section>
            <!--End Attendance-->
            <section>
                <div class="form-group">
                    <h3>Why do you want a Career?<span>*</span></h3><br />
                    <div>
                        <textarea id="subject" name="subject" placeholder="Please Let us know why you choose this as a career option?"></textarea>
                    </div>
                </div>
            </section>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="termsConditions" for="communication-consent">By checking this box, you are opting-in to receive text messages from Lambda School regarding your application, admissions process, and other Lambda School promotions and programs. You also agree to the following <a target="_blank" href="#" class="cursor-pointer font-sans text-blue-600 underline cursor-pointer" rel="noopener noreferrer">Terms</a> &amp; the Lambda School <a target="_blank" href="#" class="cursor-pointer font-sans text-blue-600 underline cursor-pointer" rel="noopener noreferrer">Privacy Policy</a>. Reply STOP to cancel. Consent not required as a condition of enrollment.</label><br /><br />
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
</form>
</div>


<script type="text/javascript">
    function changeText(value) {
        document.getElementById('pText').innerHTML = "You pressed " + value;
    }
</script>

