@{
    ViewData["Title"] = "Our Team";
}
    <!-- ================ start banner Area ================= -->
    <section class="team-banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 team-banner-right">
                    <h1 class="text-white">
                        Our Team
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        Our core team leads our eclectic set of paid and volunteer specialists from Microsoft, Google, Apple, and Philips.Two lead <br/>technical architects with 15 years of expertise and five developers with one year of experience make
                        up our development team. <br/>Furthermore, under the supervision and guidance of the core team, our academy trainees are integrated into our productive team.
                    </p>
                    <div class="link-nav">
                        <span class="box">
                            <a href="index.html">Home </a>
                            <i class="lnr lnr-arrow-right"></i>
                            <a href="ourteam.html">Our Team</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->

    <!-- ================- Start About Area ================= -->
    <section class="about-area section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-6 about-left">
                    <img class="img-fluid" src="~/img/Gallery/Team.png" alt="">
                </div>
                <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
                    <h1>
                        KNOW US TO WORK WITH US
                    </h1>
                    <div>
                        <p>
                            We know that you, as a client are basically investing in our firm first, for the development of their software product and brand demands or when hiring our graduates. Due to the complex nature of bespoke software and web application development followed
                            by offering employment to our fresh talent, we offer you an insight into the minds that keep our machinery running without glitches.
                        </p>
                        <p>
                            Innovation. Mentoring. Leadership.
                        </p>
                        <p>
                            All on one platform that has been made possible by combining the intellectual strengths of our diverse team. Excellence is what each one of us strives for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================- End About Area ================= -->

    <!-- ================ Start Our Team ================= -->

    <!-- ================ Expert Career Advisors ================= -->
    <div class="container" id="expertpanel">
        <div class="row">
            <div class="heading-title text-left">
                <h3 class="text-uppercase">OUR INDUSTRY EXPERTS</h3>
                <p class="p-top-30 half-txt">Learning a new skill is imperative but without the right guidance, it isn’t possible. The right mentor makes learning fun, insightful and experiential. We want our graduates to learn from the best.<br/>Books might help but nothing beats
                    experience when it comes to imparting knowledge! Meet our experts who have had a long-standing testament of professional success in their own respective domains.</p>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/arjun_raghavan.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Arjun Raghavan</h5>
                    <span>Wipro</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/basanth_ap.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Basant AP</h5>
                    <span>Philips</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/chirantha_gowda.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Chirantha Gowda</h5>
                    <span>Apple</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/manjunath_gururaja.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Manjunath Gururaja</h5>
                    <span>Microsoft</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/muhammed_fasiulla.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Muhammed Fasiulla</h5>
                    <span>Microsoft</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/parvez_mulla.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Parvez Mulla</h5>
                    <span>Google</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/sanu_nandan.png" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Sanu Nandan</h5>
                    <span>Google</span>
                </div>
            </div>
        </div>
    </div>
    <!-- ================ Expert Career Advisors ================= -->


    <!-- ================ Trainee Software Interns ================= -->
    <div class="container">
        <div class="row">
            <div class="heading-title text-left">
                <h3 class="text-uppercase">OUR INTERNS</h3>
                <p class="p-top-30 half-txt">What does it take to become a trainee or an intern with Brainchild? A penchant for success, a love for learning, and a mind that can adapt to changes. Our interns are highly driven young individuals who wish to leave a mark in the technological
                    world someday.<br/>What do we do? We help them harness their potential to the fullest!</p>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/Sijo.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Sijo george</h5>
                    <span>Intern</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/anand Madhu.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Anand Madhu</h5>
                    <span>Intern</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/Abhijith Santhosh.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Abhijith Santhosh</h5>
                    <span>Intern</span>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
    <!-- ================ Trainee Software Interns ================= -->



    <!-- ================ Start Our Team ================= -->

    <div class="container">
        <div class="row">
            <div class="heading-title text-left">
                <h3 class="text-uppercase">Main Team</h3>
                <p class="p-top-30 half-txt">Our visionaries, the backbone of our company and the people who believe that every individual who aspires to gain proficiency at skills of software engineering should be given a chance. The team that hopes to make everyone employable.
                    The team that hopes to make a change.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/rohith.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Rohith Rajan</h5>
                    <span>Founder</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/Sandeep.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Sandeep Ambattu</h5>
                    <span>CEO</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/Vishnupriya.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Vishnupriya</h5>
                    <span>HR Manager</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/aneesh.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-title">
                        <h5>Aneesh S</h5>
                        <span>Full Stack Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/syamil.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Syamil Sasi S</h5>
                    <span>Full Stack Developer</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/Our Team/vishnu.jpg" alt="team member" class="img-responsive">
                    </div>
                </div>
                <div class="team-title">
                    <h5>Vishnu Unnikrishnan</h5>
                    <span>Full Stack Developer</span>
                </div>
            </div>
        </div>
    </div>
    <!-- ================ End Main Team ================= -->


    <!-- ================ End Our Team ================= -->