@model SimpleApp.Models.CandidateDetails
@{
    ViewData["Title"] = "Work With Us";
}

<body>
    <!-- ================ start banner Area ================= -->
    <section class="work-banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 work-banner-right">
                    <h1 class="text-white">
                        Work With Us
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        WE NURTURE TOP-NOTCH SOFTWARE ENGINEERS. <br />AN ANSWER TO ALL YOUR TECH-RELATED PROBLEMS.
                    </p>
                    <p class="mx-auto text-white  mt-20 mb-40" id="hidepara">
                        Allow us to take care of your technological and professional needs.
                    </p>
                    <button class="buttonbutton1"><a href="https://app.brainchildservices.com/Candidate-Form">Partner with us</a></button>
                    <button class="buttonbutton1"><a href="https://app.brainchildschool.com/Mentor-Form">Join as Mentor</a></button>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <!-- ================- Start About Area ================= -->
    <section class="work-about-area section-gap ">
        <div class="container ">
            <div class="row align-items-center justify-content-center ">
                <div class="col-lg-5 col-md-6 about-left ">
                    <img class="img-fluid " src="~/img/about-img.png" alt=" ">
                </div>
                <div class="offset-lg-1 col-lg-5 col-md-12 about-right ">
                    <h1>
                        WE CURATE INNOVATIVE SOFTWARE PRODUCTS AT A HIGHLY COMPETITIVE PRICE
                    </h1>
                    <div>
                        <p id="paragraph">
                            Technical Solution Services that are tailored to your needs. Powered by software engineering and created keeping in mind the goals of your company.
                        </p>
                        <p>What’s more?</p>

                        <ul id="points">
                            <li>We’re quick.</li>
                            <li>We’re efficient.</li>
                            <li>We’ve got a team of outstanding software engineers</li>
                            <li>We don’t blow a hole in your pocket.</li>
                        </ul>
                        <br>

                        <p id="paragraph">
                            Your clients go to your website or app to do tasks related to your brand. The backbone of your technological framework is your software. More than just cosmetic and functional beauty goes into creating a website, app, or software for your business. The
                            overall structure must move clients and push them to do desired activities!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================- End About Area ================= -->
    <!-- ================ Start Feature Area ================= -->
    <section class="other-feature-area ">
        <div class="container ">
            <div class="feature-inner row ">
                <div class="col-lg-12 ">
                    <div class="section-title1 text-left ">
                        <h2>
                            Brainchild School <br /> Portfolios
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="other-feature-item-one ">
                        <i class="ti-key "></i>
                        <h4>Prototyping</h4>
                        <div>
                            <p>
                                Prototypes are one of the most important steps in the design process, yet prototyping is still confusing for some designers and project teams. We can help you to create suitable prototype for your project.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-lg-4 col-md-6 mt--160 ">
                    <div class="other-feature-item-two ">
                        <i class="ti-files "></i>
                        <h4>Web & UI Design </h4>
                        <div>
                            <p>
                                A Web user interface or Web app allows the user to interact with content or software running on a remote server through a Web browser. We are the developers who have built enough skills to create a good looking website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="other-feature-item-three ">
                        <i class="ti-medall-alt "></i>
                        <h4>Front-End Development</h4>
                        <div>
                            <p>
                                Everything that you see when you’re navigating around the Internet, from fonts and colors to dropdown menus and sliders, is a combo of HTML, CSS, and JavaScript being controlled by your computer’s browser.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="other-feature-item-four ">
                        <i class="ti-briefcase "></i>
                        <h4> Back-End Development</h4>
                        <div>
                            <p>
                                The back end of a website consists of a server, an application, and a database. A back-end developer builds and maintains the technology that powers those components which, together, enable the user-facing side of the website to even exist in the first.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt--160 ">
                    <div class="other-feature-item-five ">
                        <i class="ti-crown "></i>
                        <h4>Usability Testing</h4>
                        <div>
                            <p>
                                Usability testing refers to evaluating a product or service by testing it with representative users. The goal is to identify any usability problems, collect qualitative and quantitative data and determine the participant's satisfaction with the product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 " id="mt260 ">
                    <div class="other-feature-item-six ">
                        <i class="ti-headphone-alt "></i>
                        <h4>CI-CD Pipeline</h4>
                        <div>
                            <p>
                                The Continuous Integration/Continuous Deployment software is the backbone of the modern DevOps environment. We help setup CI/CD end to end and develop high-quality software and shorter development life cycles, resulting in greater customer satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End Feature Area ================= -->
    <!-- ================ Start Video Area ================= -->
    <section class="work-video-area section-gap-bottom ">
        <div class="container ">
            <div class="row align-items-center ">
                <div class="col-lg-5 ">
                    <div class="section-title text-white ">
                        <h2 class="text-white ">
                            WE’VE GOT ALL THAT COVERED.
                        </h2>
                        <p id="paragraph">
                            We aim to make the decision to use our services as simple and straightforward as possible. As a result, it's critical to us that people have faith in our expertise, our dedication to quality, and our approach for providing you with the best set of technical
                            hands available.
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-md-6 video-left ">
                    <div class="owl-carousel video-carousel ">
                        <div class="single-video ">
                            <div class="video-part ">
                                <img class="img-fluid " src="~/img/FrontEnd.jpg " alt=" ">


                            </div>
                            <h4 class="text-white mb-20 mt-30 ">Web Development</h4>
                        </div>

                        <div class="single-video ">
                            <div class="video-part ">
                                <img class="img-fluid " src="~/img/BackEnd.png " alt=" ">
                            </div>
                            <h4 class="text-white mb-20 mt-30 ">Back End Technologies</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End Video Area ================= -->
    <section class="work-contact ">
        <div class="container ">
            <diV class="row ">
                <div class="col-lg-5 col-md-6 col-xs-4 ">
                    <h4>Let's work together</h4>
                    <h3 href="# ">Start a Project →</h3>
                    <h3 href="# "><i class="ti-email "></i> &nbsp; contact@BrainchildServices.in</h3>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-4 ">
                    <h4>Speak to us</h4>
                    <h3>(08) 9471 7645</h3>
                    <h3>hello@BrainchildServices.in</h3>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-4 ">
                    <h4>Headquarters</h4>
                    <h3>Kochi,Kerala</h3>
                </div>
            </diV>
        </div>
    </section>

    <!-- ================ Start Testimonials Area ================= -->
    <section class="testimonials-area section-gap ">
        <div class="container ">
            <div class="testi-slider owl-carousel " data-slider-id="1 ">
                <div class="row align-items-center ">
                    <div class="col-lg-5 ">
                        <div class="item ">
                            <div class="testi-item ">
                                <div class="mt-40 text ">
                                    <p id="paragraph">
                                        A Web App built as simple and intuitive but mirrors our company identity that gives it a face and a soul. Brainchild went above and beyond to make sure that the application was exactly what I had envisioned. I cannot recommend this company enough to people
                                        they are just amazing!
                                    </p>
                                </div>
                                <h4>Adv. Jerie Ramesh</h4>
                                <p>CEO - JerieBentoAdvocates</p>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-6 ">
                        <img src="~/img/testimonial/t1.jpg " alt=" " />
                    </div>
                </div>

                <div class="row align-items-center ">
                    <div class="col-lg-5 ">
                        <div class="item ">
                            <div class="testi-item ">
                                <div class="mt-40 text ">
                                    <p id="paragraph">
                                        Brainchild team is incredible. I was bit skeptical once when I heard that Brainchild trainees would build my website. However, the final product is just amazing because of their new ways to bring more traffic to our sites and kudos to the main team for
                                        executing such a wonderful project through them. I must also emphasize the business development team who were the one point contact were very easy to communicate and were able to work from concepts rather needing
                                        me to design the ideas.
                                    </p>
                                </div>
                                <h4>Santhosh KV</h4>
                                <p>Founder - Srishti Builders</p>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-6 ">
                        <img src="~/img/testimonial/t2.jpg " alt=" " />
                    </div>
                </div>

                <div class="row align-items-center ">
                    <div class="col-lg-5 ">
                        <div class="item ">
                            <div class="testi-item ">
                                <div class="mt-40 text ">
                                    <p id="paragraph">
                                        If you are starting a new business or upgrading an existing application, I strongly recommend Brainchild. This process has been an absolute pleasure. Everyone was extremely helpful and responsive to my ideas. They had all the capabilities we needed and
                                        were able to solve a number of different challenges facing our complex application. I definitely recommend
                                    </p>
                                </div>
                                <h4>Adv. Bento Paulson</h4>
                                <p>Founder - JerieBentoAdvocates</p>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-6 ">
                        <img src="~/img/testimonial/t3.jpg " alt=" " />
                    </div>
                </div>

                <div class="row align-items-center ">
                    <div class="col-lg-5 ">
                        <div class="item ">
                            <div class="testi-item ">
                                <div class="mt-40 text ">
                                    <p>
                                        Brainchild is great company to work with. The highlight is that trainee’s works under the team of professional management with hands on experience. Due the same reason, their pricing structure is unique and logical saving me money and achieving amazing
                                        results at the same time. Big shout out to Brainchild
                                    </p>
                                </div>
                                <h4>Manoj KC</h4>
                                <p>Founder- Sarvam Events & Decorations</p>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-6 ">
                        <img src="~/img/testimonial/t4.jpg " alt=" " />
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ================ End Testimonials Area ================= -->
</body>