.contact-banner-area {
    background: url(../img/banner-bg.png) no-repeat center;
    min-height: 510px;
}

@media (max-width: 400px) {
    .contact-banner-area {
        background: url(../img/banner-bg1.png) no-repeat center;
        min-height: 410px;
    }
}

.contact-banner-right {
    margin-top: 140px;
    text-align: right;
}

@media (max-width: 1199px) {
    .contact-banner-right {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contact-banner-right h1 {
        font-size: 35px;
        margin-top: -1rem;
    }
}

@media (max-width: 768px) {
    #hidepara {
        display: none;
    }
}

@media (max-width: 280px) {
    #hidepara {
        font-size: 11px;
    }
}

.contact-banner-right p {
    font-size: 14px;
}

.contact-banner-right .box {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 18px;
    display: inline-block;
}

@media (max-width: 768px) {
    .contact-banner-right .box {
        display: none;
    }
}

.contact-banner-right .box i {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    font-weight: 600;
}

.contact-banner-right .box a {
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 380px) {
    .contact-banner-right .box a {
        font-size: 13px;
    }
}

.contact-banner-right .box a:hover {
    color: #222222;
}

.mapouter {
    position: relative;
    height: 643px;
    width: 573px;
    margin-left: 100px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 543px;
    width: 473px;
}

@media (max-width: 880px) {
    .mapouter {
        display: none;
    }
}