.team-banner-area {
    background: url(../img/banner-bg1.png) no-repeat bottom;
    background-position: bottom;
    min-height: 510px;
}

.team-banner-right {
    margin-top: 110px;
    text-align: right;
}

@media (max-width: 1199px) {
    .team-banner-right {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .team-banner-right h1 {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .team-banner-right p {
        display: none;
    }
}

.team-banner-right p {
    font-size: 14px;
}

.team-banner-right .box {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 18px;
    display: inline-block;
}

@media (max-width: 767px) {
    .team-banner-right .box {
        padding: 7px 15px;
        margin-top: 30px;
    }
}

.team-banner-right .box i {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    font-weight: 600;
}

.team-banner-right .box a {
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 380px) {
    .team-banner-right .box a {
        font-size: 13px;
    }
}

.team-banner-right .box a:hover {
    color: #222222;
}


/* feature area */

.team-feature-area {
    margin-top: -210px;
}

@media (max-width: 1680px) and (min-width: 1200px) {
    .team-feature-area {
        margin-top: -70px;
    }
}

@media (max-width: 1200px) and (min-width: 991px) {
    .team-feature-area {
        display: none;
    }
}

@media (max-width: 991px) {
    .team-feature-area {
        margin-top: 0px;
    }
}

.team-feature-area .container-fluid {
    padding-left: 50px;
}

@media (min-width: 1921px) {
    .team-feature-area .container-fluid {
        max-width: 1140px;
        padding-left: 0;
    }
    .team-feature-area .container-fluid .col-lg-2.col-md-6 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 22.666667%;
        max-width: 22.666667%;
    }
}

@media (max-width: 767px) {
    .team-feature-area .container-fluid {
        padding-left: 15px;
    }
}

.team-feature-item {
    margin: 30px 0px;
    border-right: 1px solid rgba(130, 139, 178, 0.2);
    padding-right: 20px;
}

.team-feature-item i {
    font-size: 30px;
    color: #ad36e6;
}

.team-feature-item h4 {
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: 400;
}

.team-feature-item p {
    margin-bottom: 0px;
    font-size: 11px;
    line-height: normal;
}